body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  min-height: 100vh;
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height:  calc(100vh - 58px);
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    #register {
      height: 600px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

.form-signin {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .table-condensed { font-size: 12px !important; } 
.tableFixHead          { overflow-y: auto;}
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; background:#eee; height: 60px; }

.form-kusioner textarea{
  resize: vertical;
}