body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  min-height: 100vh;
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height:  calc(100vh - 58px);
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    #register {
      height: 600px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

.form-signin {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .table-condensed { font-size: 12px !important; } 
.tableFixHead          { overflow-y: auto;}
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; background:#eee; height: 60px; }

.form-kusioner textarea{
  resize: vertical;
}

/* Circle stats
=================================================================== */

.circleStats {text-align: center; position: relative;}

.circleStatsItemBox {
	position: relative;
	background: #67C2EF;
	width:100%;
	min-width: 130px; 
	height: 160px;
	padding-top: 40px;
	margin-bottom: 28px;
}

.circleStatsItemBox .header {
	background: rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.9);
	width: 100%; 
	height: 20px;
	padding: 5px 0px;
	position: absolute;
	top: 0px;
}

.circleStatsItemBox .footer {
	background: rgba(0,0,0,0.1);
	color: rgba(255,255,255,0.9);
	width: 100%; 
	height: 20px;
	padding: 5px 0px;
	position: absolute;
	bottom: 0px;
}

.circleStatsItemBox .footer .count{
	font-size: 12px;
}

.circleStatsItemBox .footer .value{
	font-weight: bold;
}

.circleStatsItemBox .percent {
	font-size: 12px;
	position: absolute;
	top:110px; 
	width: 100%; 
	left: 0px;
	text-align: center;
	color: rgba(255,255,255,0.9);
}

.circleStatsItemBox input {
	cursor: default;
	box-shadow: none;
	border:none;
	height: auto;
	position: absolute;
	top:30px;
	padding: 5px 0px !important;
	border-color: rgba(0, 0, 0, 0.8);
}

.circleStatsItemBox input:focus {
	outline: 0;
	outline: thin dotted 0;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
         	box-shadow: none;
}

/* Vertical Bar Chart
=================================================================== */

.verticalChart {
	width: 100%;
}
	
.verticalChart .singleBar {
	width: 9%;
	float: left;
	margin-left: 0.5%;
	margin-right: 0.5%;
}	
	
.verticalChart .singleBar .bar {
	position: relative;
	height: 200px;
	background: rgba(255,255,255,0.2);
	overflow: hidden;
}
	
.verticalChart .singleBar .bar .value {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
	color: #fff;
}

.verticalChart .singleBar .bar .value span{
	position: absolute;
	font-size: 12px;
	bottom: 0;
	width: 100%;
	height: 20px;
	color: #ddd;
	text-shadow: 0px -1px 0px #fff, 0px 1px 0px #fff, 1px 0px 0px #fff, -1px 0px 0px #fff, -1px -1px 0px #fff,-1px 1px 0px #fff, 1px 1px 0px #fff, 1px -1px 0px #fff;
	display: none;
	text-align: center;
}			

.verticalChart .singleBar .title {
	margin-top: 5px;
	text-align: center;
}
